Repository Arcane-404/project-gericht-restaurant: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run apply:lint, npm run apply:format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "npm run apply:lint",
  "*.{json,md,mdx}": "npm run apply:format"
}

test
  .github/workflows/node.js.yml
Due: none

build: test yaml
  .github/workflows/build.md
  .github/workflows/node.js.yml
  .github/workflows/test.md
  docs/STRUCTURE.md
Due: npm run apply:format

test
  .github/workflows/action.yml
Due: none

build: yaml now works
  .github/workflows/action.yml
  .github/workflows/build.yml
  .github/workflows/node.js.yml
  .github/workflows/test.yml
Due: none

build: update yaml file
  .github/workflows/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

build: fix yaml file
  .github/workflows/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  package.json
Due: npm run apply:format

build: check action.yml
  .github/workflows/action.yml
Due: none

build: minor change
  .github/workflows/build.yml
  .github/workflows/test.yml
  package.json
Due: npm run apply:format

build: update plugin with @master
  .github/workflows/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  CHANGELOG.md
Due: npm run apply:format

build: update notes and dependencies
  .github/workflows/_.md
  README.md
  docs/CONTRIBUTE.md
  docs/GOALS.md
  docs/RESOURCES.md
  docs/STRUCTURE.md
  package.json
  yarn.lock
Due: npm run apply:format

build: update dependencies
  package.json
  src/components/commons/Navbar/TabletMenu/_.styles.js
  src/components/commons/Navbar/TabletMenu/index.jsx
  src/components/commons/Navbar/index.jsx
  yarn.lock
Due: npm run apply:lint, npm run apply:format

enh(footer): create component, adjust typography
  src/components/commons/Footer/SocialLinks/index.jsx
  src/components/commons/Footer/_.styles.js
  src/components/commons/Footer/index.jsx
  src/components/commons/Layout/index.jsx
  src/components/commons/Navbar/index.jsx
  src/components/commons/Root/index.jsx
  src/components/commons/index.js
  src/constants/content/_home.json
  src/constants/content/index.js
  src/constants/index.js
  src/constants/listing/_awards.js
  src/constants/listing/_cocktails.json
  src/constants/listing/_social.js
  src/constants/listing/_wines.json
  src/constants/listing/index.js
Due: npm run apply:lint, npm run apply:format

style: make changes on Loader, reapply footer layout
  docs/DRAFT.md
  docs/GOALS.md
  src/assets/icons/index.js
  src/assets/index.js
  src/assets/loaders/index.jsx
  src/components/commons/Alert/index.jsx
  src/components/commons/Caption/index.jsx
  src/components/commons/Footer/SocialLinks/index.jsx
  src/components/commons/Footer/_.styles.js
  src/components/commons/Footer/index.jsx
  src/components/commons/Layout/index.jsx
  src/components/commons/Newsletter/Form/_.styles.js
  src/components/commons/Newsletter/Form/index.jsx
  src/components/commons/Newsletter/_.styles.js
  src/components/commons/Newsletter/index.jsx
  src/components/commons/Reservation/Form/index.jsx
  src/components/commons/Reservation/_.styles.js
  src/components/commons/Reservation/index.jsx
  src/components/commons/Root/index.jsx
  src/components/commons/index.js
  src/constants/content/_home.json
  src/utils/_DevModeForm.jsx
Due: npm run apply:lint, npm run apply:format
